body{
    background: #F2F2F0;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.holo-loader{
    width: 200px;
    height: 180px;
    position: relative;
}

.dots{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: bounce 1.4s infinite;
}

.dot:nth-child(1){
    background: #8C0303;
    box-shadow: 0 0 10px #F21D44;
    animation-delay: 0.1s;
}

.dot:nth-child(2){
    background: #F23D6D;
    box-shadow: 0 0 10px #8C0303;
    animation-delay: 0.2s;
}

.dot:nth-child(3){
    background: #F20505;
    box-shadow: 0 0 10px #0D0D0D;
    animation-delay: 0.3s;
}

.dot:nth-child(4){
    background: #406973;
    box-shadow: 0 0 10px #F25C69;
    animation-delay: 0.4s;
}

.base{
    width: 100px;
    height: 8px;
    background: #8FBABF;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(3px);
    animation: pulse 2s infinite alternate;
}

.text{
    color: #275059;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    position: absolute;
    top: 20px;
    width: 100%;
    text-shadow: 0 0 5px #BBBF4B;
}

@keyframes bounce{
    0%, 100%{ transform: translateY(0);}
    50% {transform: translateY(-80px);}
}

@keyframes pulse{
    0% {width: 100px; opacity: 0.6;}
    100% {width: 120px; opacity: 1;}
}